*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contanier{
    width: auto;
    height: 2050px;
    
    border: 4px solid black;
}

main {
     background-image: url(./Assets/newimage.jpg);
   background-size: cover;
    background-repeat: no-repeat;
    position: relative;
     width:auto;
      height: 700px;
      margin-left: 40px;
      margin-right: 40px;
}

 .section1{
    position: absolute;
    color: black;
    top: 40%;
    left: 5%;   
}  


.lines{
    font-size: 30px;
    
}

.p{
    font-size: 20px;
    color:gray;
}

.section1 input{
    height: 20px;
    width: 100%;
    font-size: 20px;
}
 
.section2{
    /* margin-left: 40px; */
    display: flex;
    align-items: center;
    gap: 120px;
}

.section2 p{
    width: 275px;
}

.section2 select{
    width: 300px;
}

.items{
    display: flex;
    gap: 20px;
    width: 900px;
    margin-left: 160px;
    justify-content: space-between;
}
.cards{
      margin-top: 20px;
    border: 1px solid rgb(164, 132, 132);
    border-radius: 8px;
    padding: 10px; 
    width: 900px;
    height: auto;
}

.cards h4{
    margin-top: 7px;
}

.cards h6{
    margin-top: 10px;
}

.cards h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards p{
    color: #5c6c75;
}

h3 button{
    background-color: rgb(65, 156, 65);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 70px;
} 

.items2{
     display: flex;
    gap: 20px;
    width: 900px;
    margin-left: 160px;
    justify-content: space-between;
}

.items3{
  display: flex;
    gap: 20px;
    width: 450px;;
    margin-left: 160px;
    justify-content: space-between;   
}